# Python-related files
*.pyc
*.pyo
__pycache__/
*.pkl 

# Log files
*.log

# SQLite database files
*.db

# Other sensitive or confidential data
config.py
.vscode
credentials.json
.env

# Virtual environment files (pls name your virtualenv as venv)
venv/

