pandas
base64
time
random
datetime
pyresparser
os
pdfminer3
io
streamlit_tags
nltk
streamlit
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
