# all the necessary requirements will be listed here import them using pip install requirements.txt
# dont use pip freeze instead use pipreqs --force /path/to/project to update the dependencies

Flask==2.2.3
pipreqs==0.4.13
scikit-learn==1.2.2
pandas==2.0.0
